<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Chat Space</title>
		<link rel="stylesheet" href="/css/style.css" />
		<link
			rel="shortcut icon"
			href="/icons/favicon.png"
			type="image/x-icon"
		/>
		<style>
			.tabs:hover {
				background-color: lavender;
			}
			.fa-bars {
				caret-color: transparent;
				align-self: center;
				cursor: pointer;
			}
		</style>
		<script
			src="https://kit.fontawesome.com/cd9e976117.js"
			crossorigin="anonymous"
		></script>
	</head>

	<body>
		<nav style="padding: 0 1rem">
			<i id="bars" class="fa-solid fa-bars fa-2xl"></i>
			<h1
				style="
					position: absolute;
					left: 50%;
					transform: translate(-50%);
				"
			>
				Chat Space<sub
					style="
						font-size: 0.7rem;
						font-weight: normal;
						color: limegreen;
					"
				>
					Beta
				</sub>
			</h1>
			<div>
				<% if (currentUser) { %>
				<a
					style="
						display: inline-flex;
						text-decoration: none;
						color: black;
						gap: 0.5rem;
					"
					href="/user/<%= currentUser.username %>"
				>
					<p id="home-username"><%= currentUser.username %></p>
					<img
						class="avatar"
						src="<%= currentUser.profilePicUrl %>"
						alt="dp"
					/>
				</a>
				<% } %>
			</div>
		</nav>
		<hr />

		<div style="display: flex">
			<div
				id="side-tabs"
				style="
					display: none;
					width: max-content;
					flex-direction: column;
					justify-content: space-around;
				"
			>
				<a href="/privateChat">
					<button class="tabs">
						<i class="fa-solid fa-user-group"></i>
						People
					</button>
				</a>
				<a href="/spaces">
					<button class="tabs">
						<i class="fa-solid fa-layer-group"></i>
						Spaces
					</button>
				</a>
				<a href="/spacify">
					<button class="tabs">
						<i class="fa-brands fa-spotify"></i>
						Spacify
					</button>
				</a>
				<a href="/spacetube">
					<button class="tabs">
						<i class="fa-brands fa-youtube"></i>
						SpaceTube
					</button>
				</a>
				<button
					id="chat"
					class="tabs"
					style="background-color: #222831; color: whitesmoke"
				>
					<i class="fa-solid fa-paper-plane"></i>
					Post
				</button>
				<div
					style="
						display: flex;
						flex-direction: column;
						align-items: center;
						margin: 1rem 0;
					"
				>
					<a
						style="
							text-decoration: none;
							color: black;
							font-family: 'Segoe UI', Tahoma, Geneva, Verdana,
								sans-serif;
							align-self: center;
						"
						href="https://arlandshane.com"
						target="_blank"
					>
						<i class="fa-regular fa-copyright"></i> 2023 Shane
						Arland
					</a>
					<br />
					<a title="Mock Terms of Use" href="/terms-of-service"
						>Terms of Service</a
					>
					<br />
					<a title="Mock Privacy Policy" href="/privacy-policy"
						>Privacy Policy</a
					>
				</div>
			</div>

			<div>
				<form style="display: none" id="form" action="/" method="post">
					<textarea
						style="width: 40rem; min-height: 5rem"
						maxlength="200"
						type="text"
						name="message"
						id="message"
						placeholder="*Character limit: 200"
						required
					></textarea>
					<button
						id="add-btn"
						style="align-self: flex-end"
						class="btn"
						type="submit"
					>
						Send
					</button>
				</form>
				<div id="blur" style="overflow: auto; height: 85vh">
					<h2 style="margin-left: 1rem">Posts:</h2>
					<% persons.slice().reverse().forEach((person) => { %>
					<div style="display: flex; margin-left: 0.5rem">
						<p class="each-message">
							<%= person.name %> <br />
							<span
								style="
									opacity: 0.8;
									margin-left: 0.5rem;
									font-weight: lighter;
								"
							>
								<%= person.message %>
							</span>
						</p>
					</div>
					<% }); %>
				</div>
			</div>
			<div id="your-spaces">
				<h4>Your Spaces:</h4>
				<% if(spaces.length === 0) { %>
				<p>None</p>
				<% } %> <% spaces.forEach((space) => { %>
				<a
					href="/spaces/<%= space._id %>"
					style="
						border-radius: 1rem;
						padding: 1rem;
						white-space: nowrap;
						border: 1px solid rgba(100, 150, 200, 0.5);
					"
				>
					<%= space.name %>
				</a>
				<% }) %>
				<a href="/createSpace">
					<button style="white-space: nowrap" class="btn">
						Create Space
					</button>
				</a>
			</div>
		</div>
		<script defer>
			const form = document.getElementById("form");
			const chat = document.getElementById("chat");
			const blur = document.getElementById("blur");
			chat.addEventListener("click", () => {
				if (form.style.display === "none") {
					blur.style.filter = "blur(5px)";
					chat.style.backgroundColor = "#222831";
					chat.style.color = "#EEEEEE";
					form.style.display = "flex";
				} else {
					blur.style.filter = "none";
					chat.style.backgroundColor = "white";
					chat.style.color = "black";
					form.style.display = "none";
				}
			});

			const side = document.getElementById("side-tabs");
			const bars = document.getElementById("bars");
			bars.style.transitionDuration = "500ms";
			let rotated = false;
			bars.addEventListener("click", () => {
				if (!rotated) {
					bars.style.transform = "rotate(180deg)";
					side.style.display = "flex";
					rotated = true;
				} else {
					bars.style.transform = "";
					side.style.display = "none";
					rotated = false;
				}
			});
		</script>
	</body>
</html>
