<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Chat Space</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>

	<body>
		<nav style="padding: 0 1rem">
			<h1>Chat Space</h1>
			<div>
				<a
					style="
						display: inline-flex;
						text-decoration: none;
						color: black;
						gap: 0.5rem;
					"
					href="/user/<%= currentUser.username %>"
				>
					<p><%= currentUser.username %></p>
					<img
						class="avatar"
						src="<%= currentUser.profilePicUrl %>"
						alt="dp"
					/>
				</a>
				<% if (currentUser) { %>
				<a href="/logout"><button class="btn">Logout</button></a>
				<% } else { %>
				<a href="/login"><button class="btn">Login</button></a>
				<a href="/register"><button class="btn">Register</button></a>
				<% } %>
			</div>
		</nav>
		<hr />
		<div
			style="
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				margin: 0.5rem 0;
				padding: 0.5rem;
				width: fit-content;
				background-color: rgb(255, 236, 242);
				border: 1px solid rgba(200, 100, 150, 0.5);
				border-radius: 1rem;
			"
		>
			<h2 style="display: inline; align-self: center">Users:</h2>
			<% users.forEach((user) => { %>
			<div style="text-align: center">
				<div
					style="
						align-self: center;
						margin-top: 0.5rem;
						font-size: smaller;
						text-decoration: none;
						color: black;
					"
				>
					<img
						class="profiles"
						src="<%= user.profilePicUrl %>"
						alt=""
					/>
				</div>
				<div style="font-size: smaller"><%= user.username %></div>
			</div>
			<% }) %>
		</div>
		<a href="/spaces"><button class="btn">Spaces</button></a>
		<a href="/spacify"><button class="btn">Spacify</button></a>
		<a href="/spacetube"><button class="btn">SpaceTube</button></a>
		<a href="/privateChat"><button class="btn">Private Chat</button></a>
		<button id="chat" class="btn">Post</button>
		<form style="display: flex" action="/" method="post">
			<textarea
				style="display: none"
				maxlength="200"
				type="text"
				name="message"
				id="message"
				placeholder="Your message"
				required
			></textarea>
			<button
				id="add-btn"
				style="align-self: flex-end; display: none"
				class="btn"
				type="submit"
			>
				Add
			</button>
		</form>

		<h2>Messages:</h2>
		<% persons.slice().reverse().forEach((person) => { %>
		<div style="display: flex">
			<p class="each-message">
				<%= person.name %> <br />
				~&nbsp; <span style="color: gray"><%= person.message %></span>
			</p>
		</div>
		<% }); %>
		<hr />
		<footer>
			<div
				style="display: flex; justify-content: flex-end; margin: 1rem 0"
			>
				<a
					style="
						text-decoration: none;
						color: black;
						font-family: 'Segoe UI', Tahoma, Geneva, Verdana,
							sans-serif;
						align-self: center;
					"
					href="https://arlandshane.com"
					target="_blank"
				>
					©️ 2023 Shane Arland
				</a>
				<a href="/terms-of-service">
					<button style="width: fit-content" class="btn">
						Terms of Service
					</button>
				</a>

				<a href="/privacy-policy">
					<button style="width: fit-content" class="btn">
						Privacy Policy
					</button>
				</a>
			</div>
		</footer>
		<script defer>
			const textArea = document.getElementById("message");
			const addBtn = document.getElementById("add-btn");
			const chat = document.getElementById("chat");
			chat.addEventListener("click", () => {
				if (textArea.style.display === "none") {
					textArea.style.display = "inline-block";
					addBtn.style.display = "inline-block";
				} else {
					textArea.style.display = "none";
					addBtn.style.display = "none";
				}
			});
		</script>
	</body>
</html>
