<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Chat Space</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>

	<body>
		<nav style="display: flex; padding: 0 1rem">
			<h1>Chat Space</h1>
			<div>
				<a
					style="
						display: inline-flex;
						text-decoration: none;
						color: black;
						gap: 0.5rem;
					"
					href="/user/<%= currentUser %>"
				>
					<p><%= currentUser %></p>
					<img class="avatar" src="<%= dp %>" alt="dp" />
				</a>
				<% if (currentUser) { %>
				<a href="/logout"><button class="btn">Logout</button></a>
				<% } else { %>
				<a href="/login"><button class="btn">Login</button></a>
				<a href="/register"><button class="btn">Register</button></a>
				<% } %>
			</div>
		</nav>

		<hr />
		<form style="display: flex" action="/" method="post">
			<textarea
				class="input-box"
				type="text"
				name="message"
				id="message"
				placeholder="Your message"
				required
			></textarea>
			<button style="align-self: flex-end" class="btn" type="submit">
				Add
			</button>
		</form>
		<div
			style="
				gap: 1rem;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				width: fit-content;
			"
		>
			<h2 style="display: inline; align-self: center">Users:</h2>
			<% users.forEach((user) => { %>
			<div style="text-align: center">
				<div
					style="
						font-size: smaller;
						text-decoration: none;
						color: black;
					"
				>
					<img
						class="profiles"
						src="<%= user.profilePicUrl %>"
						alt=""
					/>
				</div>
				<div><%= user.username %></div>
			</div>
			<% }) %>
		</div>
		<h2>Messages:</h2>
		<% persons.slice().reverse().forEach((person) => { %>
		<div style="display: flex">
			<p class="each-message">
				<%= person.name %> <br />
				"<span style="color: gray"><%= person.message %></span>"
			</p>
		</div>
		<% }); %>
		<script src="/client.js"></script>
	</body>
</html>
