<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= space.name %></title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<nav style="padding: 0 1rem">
			<h1><%= space.name %></h1>
			<div style="display: flex">
				<a href="/spaces">
					<button type="button" class="btn">All Spaces</button>
				</a>
				<a href="/"><button class="btn">Home</button></a>
			</div>
		</nav>
		<hr />
		<h2>Participants:</h2>
		<div
			style="
				display: flex;
				flex-wrap: wrap;
				gap: 1rem;
				margin-left: 0.5rem;
			"
		>
			<% let isParticipant = false; %> <%
			space.participants.forEach((participant) => { %>
			<div
				style="
					display: flex;
					flex-direction: column;
					background-color: #ecf2ff;
					border: 1px solid rgba(100, 150, 200, 0.5);
					border-radius: 1rem;
					padding: 1rem;
				"
			>
				<img
					style="margin: auto"
					class="avatar"
					src="<%= participant.profilePicUrl %>"
					alt=""
				/><%= participant.username %> <% if(participant._id.toString()
				=== userId.toString()) { isParticipant = true; } %>
			</div>
			<% }) %>
		</div>
		<% if(!isParticipant) { %>
		<form action="/spaces/<%= space._id %>/join" method="POST">
			<button class="btn" type="submit">Join Space</button>
		</form>
		<% } else if(isParticipant) { %>
		<script>
			document.addEventListener("DOMContentLoaded", () => {
				const hide = document.querySelectorAll(".hide");
				hide.forEach((hid) => {
					hid.style.display = "block";
				});
			});
		</script>
		<% } %>

		<div style="display: none" class="hide">
			<form
				style="display: flex"
				action="/spaces/<%= space._id %>"
				method="post"
			>
				<textarea
					style="
						width: 100%;
						height: 5rem;
						border-radius: 1rem;
						padding: 0.5rem;
						font-family: 'Montserrat', sans-serif;
						line-height: 1rem;
						outline: 2px solid #ccc;
						border-radius: 1rem;
						resize: none;
						margin: 0.5rem;
					"
					maxlength="200"
					type="text"
					name="text"
					id="text"
					placeholder="Your message"
					required
				></textarea>
				<button style="align-self: center" class="btn" type="submit">
					Add
				</button>
			</form>
		</div>
		<div style="display: none" class="hide">
			<h2>Messages:</h2>
			<% space.messages.forEach((message) => { %>
			<div>
				<span><%= message.sender.username %></span> :
				<span><%= message.text %></span>
			</div>
			<% }) %>
		</div>
	</body>
</html>
