<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= space.name %></title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<nav style="padding: 0 1rem">
			<h1><%= space.name %></h1>
			<div style="display: flex">
				<a href="/spaces">
					<button
						style="white-space: nowrap"
						type="button"
						class="btn"
					>
						All Spaces
					</button>
				</a>
				<a href="/"><button class="btn">Home</button></a>
			</div>
		</nav>
		<hr />

		<div
			style="
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				margin: 0.5rem 0;
				padding: 0.5rem;
				width: fit-content;
				background-color: rgb(255, 236, 242);
				border: 1px solid rgba(200, 100, 150, 0.5);
				border-radius: 1rem;
				gap: 0.5rem;
			"
		>
			<h2 style="display: inline; align-self: center">Participants:</h2>
			<% let isParticipant = false; %> <%
			space.participants.forEach((participant) => { %>
			<div
				style="
					display: flex;
					flex-direction: column;
					background-color: #ecf2ff;
					border: 1px solid rgba(100, 150, 200, 0.5);
					border-radius: 1rem;
					padding: 0.5rem;
				"
			>
				<img
					style="margin: auto"
					class="avatar"
					src="<%= participant.profilePicUrl %>"
					alt=""
				/><%= participant.username %> <% if(participant._id.toString()
				=== userId.toString()) { isParticipant = true; } %>
			</div>
			<% }) %>
		</div>
		<% if(!isParticipant) { %>
		<form action="/spaces/<%= space._id %>/join" method="POST">
			<button class="btn" type="submit">Join Space</button>
		</form>
		<% } else if(isParticipant) { %>
		<form action="/spaces/<%= space._id %>/leave" method="post">
			<button class="btn" type="submit">Leave Space</button>
			<button
				type="button"
				id="share-btn"
				class="btn"
				onclick="copyLink()"
			>
				Share Space
			</button>
			<span id="copied"></span>
		</form>

		<script>
			document.addEventListener("DOMContentLoaded", () => {
				const hide = document.querySelectorAll(".hide");

				hide.forEach((hid) => {
					hid.style.display = "block";
				});
			});
			function copyLink() {
				const link = window.location.href;
				navigator.clipboard.writeText(link).then(() => {
					const share = document.getElementById("share-btn");
					const copied = document.getElementById("copied");
					copied.innerText = "Link Copied!";
					setTimeout(() => {
						copied.innerText = "";
					}, 2000);
				});
			}
		</script>
		<% } %>

		<div style="display: none" class="hide">
			<form
				style="display: flex"
				action="/spaces/<%= space._id %>"
				method="post"
			>
				<textarea
					style="
						width: 100%;
						height: 5rem;
						border-radius: 1rem;
						padding: 0.5rem;
						font-family: 'Montserrat', sans-serif;
						line-height: 1rem;
						outline: 2px solid #ccc;
						border-radius: 1rem;
						resize: none;
						margin: 0.5rem;
					"
					maxlength="200"
					type="text"
					name="text"
					id="text"
					placeholder="Your message"
					required
				></textarea>
				<button style="align-self: center" class="btn" type="submit">
					Add
				</button>
			</form>
		</div>
		<div style="display: none" class="hide">
			<h2>Messages:</h2>
			<% space.messages.reverse().forEach((message) => { %>
			<div style="display: flex">
				<p class="each-message">
					<% if(message.sender && message.sender.username) { %> <%=
					message.sender.username %> <% } else { %> unknown <% } %>
					<br />
					<span style="color: gray; padding-left: 0.7rem"
						><%= message.text %></span
					>
				</p>
				<span
					style="
						font-size: 0.7rem;
						align-self: flex-end;
						padding-bottom: 0.5rem;
					"
					><%= message.timestamp.toLocaleTimeString([], {timeZone:
					'Asia/Kolkata', hour: '2-digit', minute: '2-digit' }); %>
				</span>
			</div>
			<% }) %>
		</div>
	</body>
</html>
