<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Whisper</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<nav style="padding: 0 1rem">
			<h1>
				<span style="font-size: medium; font-weight: normal"
					><%= sender.username %></span
				>/<%= receiver.username %>
			</h1>
			<div style="display: flex">
				<a href="/privateChat"
					><button type="button" class="btn">
						All Private Chats
					</button>
				</a>
				<a href="/"><button type="button" class="btn">Home</button></a>
			</div>
		</nav>
		<hr />
		<form
			action="/privateChat/<%= sender._id %>/<%= receiver._id %>"
			method="post"
		>
			<label for="Messages">Whisper:</label>
			<input class="input-box" type="text" name="message" />
			<button class="btn" type="submit">Send</button>
		</form>
		<% privates.reverse().forEach(private => { %>
		<p style="margin: 0">
			<%= private.sender.username %>
			<br />
			~&nbsp; <span style="color: gray"><%= private.messages %></span>
			<span style="font-size: 0.7rem">
				<%= private.timestamp.toLocaleTimeString([], {timeZone:
				'Asia/Kolkata', hour: '2-digit', minute: '2-digit' }); %>
			</span>
		</p>
		<br />
		<% }) %>
	</body>
</html>
