<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Whisper</title>
		<link rel="stylesheet" href="/css/style.css" />
		<link
			rel="shortcut icon"
			href="/icons/favicon.png"
			type="image/x-icon"
		/>
	</head>
	<body>
		<nav style="padding: 0 1rem">
			<h1>Whisper</h1>
			<div style="display: flex">
				<a href="/privateChat"
					><button type="button" class="btn">
						All Private Chats
					</button>
				</a>
				<a href="/"><button type="button" class="btn">Home</button></a>
			</div>
		</nav>
		<hr />
		<div style="display: flex; flex-wrap: wrap">
			<div
				style="
					display: flex;
					flex-direction: column;
					width: fit-content;
					padding: 0.5rem;
					margin: 0.5rem;
					background-color: white;
					border: 1px solid gray;
					border-radius: 1rem;
				"
			>
				<div style="width: fit-content; text-align: center">
					<img
						class="profiles"
						src="<%= receiver.profilePicUrl %>"
						alt=""
					/>
					<h3 style="margin: 0"><%= receiver.username %></h3>
				</div>

				<% if(receiver.followers.includes(sender._id)) { %>
				<form
					style="align-self: center"
					action="/unfollow/<%= receiver._id %>"
					method="post"
				>
					<button class="btn" type="submit">Unfollow</button>
				</form>
				<% } else { %>
				<form
					style="align-self: center"
					action="/follow/<%= receiver._id %>"
					method="post"
				>
					<button class="btn" type="submit">Follow</button>
				</form>
				<% } %>

				<p
					style="
						margin: 0.2rem 0;
						opacity: 0.8;
						max-width: 25rem;
						display: inline-block;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					"
				>
					Followers: <%= receiver.followers.length %>
				</p>
				<p
					style="
						margin: 0.2rem 0;
						opacity: 0.8;
						max-width: 25rem;
						display: inline-block;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					"
				>
					Following: <%= receiver.following.length %>
				</p>
			</div>
			<div
				style="
					background-color: lavender;
					flex-grow: 1;
					min-width: 60%;
					border-radius: 1rem;
					padding: 0.5rem;
					margin: 0.5rem;
				"
			>
				<form
					style="display: flex"
					action="/privateChat/<%= sender._id %>/<%= receiver._id %>"
					method="post"
				>
					<label for="Messages"></label>
					<textarea
						style="
							flex-grow: 1;
							min-height: 5rem;
							font-size: 1rem;
							padding: 0.3rem;
						"
						class="input-box"
						placeholder="Whisper (max 200 characters)"
						maxlength="200"
						type="text"
						name="message"
					></textarea>
					<button class="btn" type="submit">Send</button>
				</form>
				<% privates.reverse().forEach(private => { %>
				<div style="display: flex">
					<p class="each-message" style="word-wrap: break-word">
						<%= private.sender.username %>
						<span
							style="
								opacity: 0.8;
								font-weight: lighter;
								white-space: pre-line;
							"
						>
							~&nbsp;<%= private.messages %>
						</span>
					</p>
				</div>
				<% }) %>
			</div>
		</div>
	</body>
</html>
